<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:insert="layout::menu"></nav>
    <div class="card ">
        <div class="card-header text-bg-dark mb-3">
            Lista de Especialidades
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Costo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="especialidad :${listaEspecialidad}">
                    <td></td>
                    <td th:text="${especialidad.idesp}"></td>
                    <td th:text="${especialidad.nomesp}"></td>
                    <td th:text="${especialidad.costo}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>